@{
    ViewBag.Title = "首页";
}

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <a href="javascript:void(0)">
            <img src="@Url.Content("~/images/IMG_1889.JPG")" class="gray-box-shadow img-circle">
        </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <a>
            <img src="@Url.Content("~/images/IMG_1890.JPG")" class="gray-box-shadow img-circle">
        </a>
    </div>
</div>
<div class="center-block">
    <a href="javascript:void(0)">
        <img src="@Url.Content("~/images/IMG_1891.JPG")" class="gray-box-shadow img-thumbnail">
    </a>
</div>