@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>CreateDate</th>
            </tr>
        </thead>
        <tr>
            <td>新闻标题</td>
            <td>新闻内容，这个内容有点长的。</td>
            <td>2014-10-10</td>
        </tr>
        <tr>
            <td>新闻标题</td>
            <td>新闻内容，这个内容有点长的。</td>
            <td>2014-10-10</td>
        </tr>
        <tr>
            <td>新闻标题</td>
            <td>新闻内容，这个内容有点长的。</td>
            <td>2014-10-10</td>
        </tr>
        <tr>
            <td>新闻标题</td>
            <td>新闻标题</td>
            <td>2014-10-10</td>
        </tr>
    </table>
</div>